// Define global unit variables

$unit-small: 4px;
$unit-medium: 8px;
$unit-large: 16px;
$unit-xlarge: 32px;
$unit-xxlarge: 64px;

// Define font size variables

$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-xlarge: 18px;
$font-size-xxlarge: 24px;

// Define breakpoint variables

$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
$breakpoint-xxlarge: 1400px;
