/*
    Contains constants for the z-index values of elements that are part of the global stack context.
    In other words, z-index values that are "inside" a component are not added here.
    This prevents conflicts between identical z-index values in different components.
*/

/* Toolbox z-index: 40; set in scratch-blocks */
.z-index-extension-button { z-index: 42; }
.z-index-stage-indicator { z-index: 45; }
.z-index-add-button { z-index: 46; }
.z-index-tooltip { z-index: 47; } /* tooltips should go over add buttons if they overlap */
.z-index-monitor { z-index: 48; } /* monitors go over add buttons */
.z-index-stage-question { z-index: 49; } /* "ask" block text input goes above monitors */

.z-index-card { z-index: 480; }
.z-index-alerts { z-index: 490; }
.z-index-menu-bar { z-index: 491; } /* menu-bar should go over monitors, alerts and tutorials */
.z-index-loader { z-index: 500; }
.z-index-modal { z-index: 510; }

.z-index-drag-layer { z-index: 1000; }
/* Block drag z-index: 1000; default 50 is overriden in blocks.css */
.z-index-monitor-dragging { z-index: 1010; }
.z-index-dragging-sprite { z-index: 1020; } /* so it is draggable into other panes */

.z-index-stage-color-picker-background { z-index: 2000; }
.z-index-stage-with-color-picker { z-index: 2010; }

/* in most interfaces, the context menu is always on top */
.z-index-context-menu { z-index: 10000; }
