<<<<<<< HEAD
@import "../../css/colors.css";

.color-picker {
    position: absolute;
    border-radius: 100%;
    border: 4px solid $ui-black-transparent;
}
||||||| empty tree
=======
.eye-dropper {
    position: absolute;
    border-radius: 100%;
    border: 1px solid #222;
}
>>>>>>> 44bfbedd623e6fb6bdaa93dd097bd29446df8917
